{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load staticfiles %}


{% block title %}
    Your Beliefs
{% endblock %}

{% block styles %}
    <link href="{% static "project2treat/css/Belief.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

Please answer the following questions:
    <br>
    <br>
<ol type="1"> <!-- This starts a numbered list -->

   <li> {% formfield player.avgbelief8 with label="What do you think will be <u>the average number</u> of sequences solved in this round by your group?" %} </li>

    <br>

   <li> {% formfield player.mostprodATbelief8 with label="How many sequences do you think will the most productive member of your group solve in this period, if her or she got the <em><strong> advanced technology</strong></em>?" %} </li>

    <li> {% formfield player.mostprodBTbelief8 with label="How many sequences do you think will the most productive member of your group solve in this period, if her or she got the <em><strong> basic technology</strong></em>?" %} </li>

</ol>




<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/
Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/
-->

    {% next_button %}

{% endblock %}