{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Feedback Part 1
{% endblock %}

{% block content %}

    <p>
        In this period you solved {{ player.output1 }} sequences which earned you {{ player.output1|c }} tokens.<br>
        You spent {{player.timeinswitcht1}} seconds in the <em>switch mode</em> which earned you {{player.outputinswitch1|c}} tokens.
    </p>
    <p>
        Your total earnings of this period are therefore <strong>{{player.totaloutput1|c}} tokens.</strong>
    </p>

{% next_button %}

{% endblock %}
