{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Feedback Part 1
{% endblock %}

{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">Your earnings from this round:</div>
  <div class="panel-body">
    You solved {{ player.output1|floatformat:0 }} sequences which earns you <strong>{{ player.output1|c|floatformat:0 }}</strong> Tokens.<br>
    You spent {{player.timeinswitcht1}} seconds in the <em>switch mode</em> which earns you <strong>{{player.outputinswitch1|c|floatformat:1}}</strong> Tokens.<br><br>
    Your total earnings in this round are therefore <strong>{{player.totaloutput1|c|floatformat:1}}</strong> Tokens. <br>
  </div>
</div>

{% next_button %}

{% endblock %}
