{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Part 1
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <p>
        In the following tasks that lasts 4 minutes you can earn money. <strong>For each sequence you solve correctly</strong> you will receive
        <strong>{{ Constants.tokensper_string }} Token</strong> (Tk). One Token will be converted into <strong>{{ Constants.eurosper_token }} Euro</strong>.
        Every participant has to count the same letter ( <strong>a</strong> ) in the same sequences of letters that are displayed in the same order such that everybody faces the same difficulty.
    </p>
    <p>
        You will start solving short sequences. After each sequence you solve, the <strong>length will increase
        by four characters</strong>.
    </p>
    <p>
        At any time, you have the option to change to the <strong><em>switch mode</em></strong>. In this mode, you will earn <strong>1 Token
        per {{ Constants.secondsper_token }} seconds</strong> without solving any tasks. For instance, spending 13 seconds in the
        <strong><em>switch mode</em></strong> earns you 1.3 Tk. Think about when it is best for you change to the <strong><em>switch mode.</em></strong><br>
        <U>Important:</U> Once you are in the <strong><em>switch mode</em></strong> you cannot go back to the letter counting task!
    </p>
    <p>
        Are you ready to start?
    </p>
</div>

    {% next_button %}

{% endblock %}
