{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Task Instructions
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <p>
        During the experiment, you will be asked to count letters. You have to count <strong>how many</strong> times the letter “<strong>a</strong>“
        appears in a sequence of characters.
    </p>
    <p>
        Now you will have the opportunity to try the task five times. You will face sequences of various lengths to get a good impression of the task. To submit an answer, press Enter.
        If your answer is correct, the next sequence is displayed. Otherwise, the same sequence is displayed again and you can submit another answer.
        The timer next to the input field will tell you how long you take for each sequence.
    </p>
    <p>
        You will be paid for correct guessed during parts 1 and 2 of this experiment (details are explained after the trial task). However, you will not be paid for submitting correct guesses in the trial task.
    </p>
</div>

    {% next_button %}

{% endblock %}
